.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 10px;
}

.search-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 6px;
  justify-items: center;
}

.search-container {
  justify-content: center;
  display: flex;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.category-select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
}
